<div class="container-fluid">
  <div class="row">
    <nav class="col-md-1 bg-light sidebar">
      <ul class="nav flex-column mt-4 mb-4">
        <h6>Filter By: </h6>
        <li class="nav-item" data-mixitup-control data-filter="all">All</li>
        <h6>Type </h6>
        <li class="nav-item" data-mixitup-control data-filter=".Dog">Dog</li>
        <li class="nav-item" data-mixitup-control data-filter=".Cat">Cat</li>
        <li class="nav-item" data-mixitup-control data-filter=".Bird">Bird</li>
        <li class="nav-item" data-mixitup-control data-filter=".Rodent">Rodent</li>
        <li class="nav-item" data-mixitup-control data-filter=".Other">Other</li>
        <h6>Size </h6>
        <li class="nav-item" data-mixitup-control data-filter=".Small">Small</li>
        <li class="nav-item" data-mixitup-control data-filter=".Medium">Medium</li>
        <li class="nav-item" data-mixitup-control data-filter=".Large">Large</li>
        <h6>Gender </h6>
        <li class="nav-item" data-mixitup-control data-filter=".Male">Male</li>
        <li class="nav-item" data-mixitup-control data-filter=".Female">Female</li>
      </ul>
    </nav>
    <div class="container">
      <div class="row">
        <% _.each(pets, function(pet) { %>
          <div class="col-md-4">
            <div class="card mix <%- pet.typeOfPet %> <%- pet.sex %> <%- pet.size %>">
              <img class="card-img-top img-fluid" src="<%- pet.linkToImage %>" alt="<%- pet.name %> Image" style="width: 23rem; height: 15rem;"></img>
              <div class="card-body">
                <h4 class="card-title">
                  <%- pet.name %>
                </h4>
                <p class="card-text">
                  <%- pet.summary %>
                </p>
                <a href="/pet/show/<%= pet.id %>" class="btn btn-primary float-right">View</a>
                <% if(session.authenticated){ %>
                  <% if(session.User != undefined){ %>
                    <% if(session.Shelter == undefined){ %>
                      <% var isFavorite; %>
                        <% _.each(favorites, function(favorite) { %>
                          <% if(pet.id == favorite.petId) {%>
                            <% isFavorite = favorite %>
                              <% } %>
                                <% }) %>
                                  <% if(isFavorite == undefined) { %>
                                    <form class="form" action="/favorites/createFavorite" method="POST">
                                      <input type="hidden" name="petId" value="<%= pet.id %>" />
                                      <input type="hidden" name="userId" value="<%= session.User.id%>" />
                                      <input type="hidden" name="path" value="/pet" />
                                      <button class="btn btn-primary" type="submit">Favorite</button>
                                    </form>
                                    <% } else{ %>
                                      <form class="form" action="/favorites/destroy/<%= isFavorite.id %>" method="POST">
                                        <input type="hidden" name="path" value="/pet" />
                                        <button class="btn btn-primary" type="submit">Unfavorite</button>
                                      </form>
                                      <% } %>
                                        <% } %>
                                          <% } %>
                                            <% } %>
              </div>
            </div>
          </div>
          <% }) %>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.0/mixitup.min.js"></script>
<script>
  var mixer = mixitup('.container', {
    selectors: {
      control: '[data-mixitup-control]'
    }
  });

</script>
