<% if(favorites.length == 0){ %>
<p>No favorite pets</p>
<% } %>
<% _.each(favorites, function(favorite) { %>
    <!-- <div class="col-sm-3"> -->
      <div class="mix <%= favorite.petId.typeOfPet %>">
        <div class="card"  style="width: 23rem; height: 23rem;">
            <!--Card image-->
            <img class="img-fluid" src="<%= favorite.petId.linkToImage %>" alt="<%= favorite.petId.name %> Image"></img>
            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title"><%= favorite.petId.name %></h4>
                <!--Text-->
                <p class="card-text"><%= favorite.petId.summary %></p>
                <!--Button-->
                <a href="/pet/show/<%= favorite.petId.id %>" class="btn btn-primary float-right">View</a>
                <form class="form" action="/favorites/destroy/<%= favorite.id %>" method="POST">
                    <input type="hidden" name="path" type="text" value="/favorites" />
                    <button class="btn btn-primary" type="submit">Unfavorite</button>
                </form>
                          
            </div>
        </div>
      </div>
    <!-- </div> -->
<% }) %>
